.weather-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: start;
    gap: 16px;
    padding: 24px;

    @media screen and (min-width: 720px) {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        grid-auto-rows: 1fr;
    }
}

.weather{
    place-self:center;
    padding:40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline:none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    margin: 30px 0;

}

.temperature{
    font-size: 80px;
    color: #fff;
    line-height:1;
}

.location{
    color: #fff;
    font-size: 40px;
}

.feelsLike{
    font-size: 15px;
    color: #fff;
    line-height:1;
}